    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    height: 75px;
    font-size: 20px;
}

nav li {
    list-style-type: none; 
    display: inline-block;
    background-color: pink;
    margin: 0px 50px 0px 50px;
}

header h1 {
    height: 100px;
    display: flex;
    justify-content: center;
}

header img {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;

}


main {
    display: flex;
    justify-content: space-between;
}

.column-1{
    float: left;
    width: 50%;
}

.column-2{
    float: right;
    width: 50%;
}

main img {
    min-height: 400px;
    min-width: 400px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 30px;
}