    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: red;
    height: 75px;
    font-size: 20px;
}

nav li {
    list-style-type: none; 
    display: inline-block;
    background-color: pink;
}

main h1 {
    height: 100px;
    display: flex;
    justify-content: center;
}

section img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
}

